
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

ul li{
    list-style-type: none;
    margin-bottom: 5%;
    border: 0px solid rgb(161, 161, 161);
    border-radius: 0px;
}

ul li a{
    color:rgb(161, 161, 161);
}

.tm-main-nav .a{
    display: flex;
    padding: 10% 10%;
    justify-content: space-between;
}

.tm-main-nav .a a:first-child{
    float: left;
}

.tm-main-nav .a a:last-child{
    float: right;
}

.tm-main-nav .a .company{
    padding-top: 4.0%;
}